.result {
  height: 80px;
  background-color: grey;
  border-radius: 10px;
}

.padre {
display: flex;
flex-direction: column;

}
.fila1 {
  display: flex;
  flex-direction: row;

}
.c {
  flex: 6;
  background-color: forestgreen;
  height: 90px;
  margin: 5px;
  border-radius: 10px;
  text-align: center;
  font-size: 60px;
  
}
.dividido {
  flex: 2;
  background-color: grey;
  height: 90px;
  margin: 5px;
  border-radius: 10px;
  text-align: center;
  font-size: 60px;
}

.fila2 {
  display: flex;
  flex-direction: row;

}
.siete {
  flex: 2;
  background-color: grey;
  height: 90px;
  margin: 5px;
  border-radius: 10px;
  text-align: center;
  font-size: 60px;
}
.ocho {
  flex: 2;
  background-color: grey;
  height: 90px;
  margin: 5px;
  border-radius: 10px;
  text-align: center;
  font-size: 60px;
}
.nueve {
  flex: 2;
  background-color: grey;
  height: 90px;
  margin: 5px;
  border-radius: 10px;
  text-align: center;
  font-size: 60px;
}
.por {
  flex: 2;
  background-color: grey;
  height: 90px;
  margin: 5px;
  border-radius: 10px;
  text-align: center;
  font-size: 60px;
}
.fila3 {
  display: flex;
  flex-direction: row;

}
.cuatro {
  flex: 2;
  background-color: grey;
  height: 90px;
  margin: 5px;
  border-radius: 10px;
  text-align: center;
  font-size: 60px;
}
.cinco {
  flex: 2;
  background-color: grey;
  height: 90px;
  margin: 5px;
  border-radius: 10px;
  text-align: center;
  font-size: 60px;
}
.seis {
  flex: 2;
  background-color: grey;
  height: 90px;
  margin: 5px;
  border-radius: 10px;
  text-align: center;
  font-size: 60px;
}
.menos {
  flex: 2;
  background-color: grey;
  height: 90px;
  margin: 5px;
  border-radius: 10px;
  text-align: center;
  font-size: 60px;
}
.fila3 {
  display: flex;
  flex-direction: row;

}
.cuatro {
  flex: 2;
  background-color: grey;
  height: 90px;
  margin: 5px;
  border-radius: 10px;
  text-align: center;
  font-size: 60px;
}
.cinco {
  flex: 2;
  background-color: grey;
  height: 90px;
  margin: 5px;
  border-radius: 10px;
  text-align: center;
  font-size: 60px;
}
.seis {
  flex: 2;
  background-color: grey;
  height: 90px;
  margin: 5px;
  border-radius: 10px;
  text-align: center;
  font-size: 60px;
}
.menos {
  flex: 2;
  background-color: grey;
  height: 90px;
  margin: 5px;
  border-radius: 10px;
  text-align: center;
  font-size: 60px;
}

.fila4 {
  display: flex;
  flex-direction: row;


}
.uno {
  flex: 2;
  background-color: grey;
  height: 90px;
  margin: 5px;
  border-radius: 10px;
  text-align: center;
  font-size: 60px;
}
.dos {
  flex: 2;
  background-color: grey;
  height: 90px;
  margin: 5px;
  border-radius: 10px;
  text-align: center;
  font-size: 60px;
}
.tres {
  flex: 2;
  background-color: grey;
  height: 90px;
  margin: 5px;
  border-radius: 10px;
  text-align: center;
  font-size: 60px;
}
.mas {
  flex: 2;
  background-color: grey;
  height: 90px;
  margin: 5px;
  border-radius: 10px;
  text-align: center;
  font-size: 60px;
}
.fila5 {
  display: flex;
  flex-direction: row;
}

  .cero {
  flex: 2;
  background-color: grey;
  height: 90px;
  margin: 5px;
  border-radius: 10px;
  text-align: center;
  font-size: 60px;
}
  .igual {
  flex: 6;
  background-color: forestgreen;
  height: 90px;
  margin: 5px;
  border-radius: 10px;
  text-align: center;
  font-size: 60px;
  
  }