.header {
  height: 56px;
  background-color: rgb(222, 155, 135);
  text-align: center;
}
.nav {
  background-color: cadetblue;
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
}
.padre {
  display: flex;
}
.sectionr {
  height: 340px;
  background-color: darkkhaki;
  display: flex;
  flex-direction: column;
  flex: 2;
  text-align: center;
  margin-left: 10px;
  margin-top: 10px;
  margin-block-end: 10px;
}
.headerr {
  height: 40px;
  background-color: green;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-block-end: 10px;
}

.navr {
  background-color: lightseagreen;
  height: 250px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  margin-block-end: 10px;
}

.sectionl {
  flex: 4;
  text-align: center;
  height: 340px;
  background-color: lightskyblue;
  margin-top: 10px;
}

.headerl {
  background-color: limegreen;
  height: 38px;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-block-end: 15px;
}
.articuloi {
  background-color: palevioletred;
  height: 250px;
  margin: 10px;
  text-align: center;
}
.header2 {
  height: 20px;
  background-color: azure;
  margin: 10px;
}
.parrafo {
  height: 50px;
  background-color: blue;
  margin: 10px;
}
.papa {
  display: flex;
}
.parrafo1 {
  flex: 1;
  margin: 5px 10px 10px 10px;
  background-color: blueviolet;
  height: 70px;
}
.aside1 {
  flex: 1;
  margin: 10px;
  background-color: indigo;
  margin: 5px 10px 10px 10px;
}
.pie {
height: 20px;
background-color: azure;
margin: 10px;

}
.piepie{
  background-color:blueviolet;
  height: 30px;
  text-align: center;}